<!DOCTYPE html>
<html>
<head>
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    Hello Baby
  </header>
  <nav id="navbar">
    <div class="navcontainer">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/clothing">Clothing</a></li>
        <li><a href="/diapers">Diapers</a></li>
        <li><a href="/toiletry">Toiletry</a></li>
        <li><a href="/babygear">Baby-Gear</a></li>
        <li><a href="/baby-must-haves">Baby-Must-Haves</a></li>
      </ul>
    </div>
  </nav>
  <img src="https://images.indianexpress.com/2019/07/baby1.jpeg" alt="snuggler">
  <img src="/images/sleepsack.png" alt="skiphop">

  <footer>All Rights Reserved Copyright &copy; Baby-Registry 2021</footer>
</body>
</html>