<%- include('./partials/header') %>

<div id="showcase">
  <div class="container">
    <!-- <img class= "background-img" src="/images/IMG_0803.JPG" alt="home-img"> -->
  </div>
</div>

<section id="home-info">
  <div class="info-img"></div>
  <div class="info-content">
    <h2><span class="text-primary">About Us</span></h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, tenetur tempora! Quae nobis molestias voluptate doloremque? Beatae reprehenderit quos voluptatibus autem voluptates consequatur perspiciatis quisquam temporibus, minima nobis facilis ex velit labore repellendus numquam esse vel! Recusandae quidem ullam nostrum atque cumque dolores? Commodi impedit laborum provident ipsam, sed delectus?</p>
    <a href="#" class="read-more-btn">Read More</a>
  </div>
</section>

<section id="features">
  <div class="box">
    <h3></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, error?</p>
  </div>
  <div class="box"></div>
  <div class="box"></div>
</section>


<%- include('./partials/footer') %>
  
