@import url('https://fonts.googleapis.com/css2?Quicksand:wght@300;400&family=Sacramento&display=swap');

* {
  box-sizing: border-box;
  /* font-family: Helvetica; */
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  font-family: 'Quicksand', sans-serif;
  grid-template-rows: 58px 50px 4fr;
  grid-template-areas:
    'header'
    'nav'
    'main';
}

header {
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  text-align: center;
  align-self: center;
  background-color: #fcf8e8;
}

#navbar {
  grid-area: nav;
  /* background-color: #fff6c1; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0 30px;
}

#navbar a {
  text-decoration: none;
  color: #333;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  /* background-color: #444; */
  color: #f7c08a;
}

nav>a {
  margin: 65px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: center;
}