@import url('https://fonts.googleapis.com/css2?Quicksand:wght@300;400&family=Sacramento&display=swap');

* {
  box-sizing: border-box;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  grid-template-rows: 58px 50px 4fr 1fr;
  grid-template-areas:
    'header'
    'nav'
    'main'
    'footer';
}

.background-img {
  width: 100%;
  align-items: center;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.show-content {
  height: 100vh;

}


header {
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  text-align: center;
  align-self: center;
  background-color: #fcf8e8;
}

#navbar {
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0 30px;
}

#navbar a {
  text-decoration: none;
  color: #333;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover {
  color: #f7c08a;
}

#navbar ul li a.current {
  color: #f7c08a;
}

nav>a {
  margin: 65px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

#showcase {
  background: url("/images/IMG_0815.JPG") no-repeat center center/cover;
  height: 600px;
}

.text-primary {
  color: #f7c08a;
}

#home-info {
  height: 400px;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url("/images/IMG_0789.JPG") center center/cover;
  min-height: 100%;
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  line-height: 1.7rem;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;

}

#home-info .info-content {
  padding-bottom: 30px;
}

h3,
h4 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 0;
  font-size: 14px;
}

a {
  text-decoration: none;
  font-size: 13px;
  margin: 15px;
  cursor: pointer;
  text-align: center;
}

a:hover {
  color: #f7c08a;
}

.go-back {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 80px;
}

img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

#items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 15px;
  margin: 40px auto 40px auto;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card p {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  margin: 6px;
  padding: 0px;
  width: 480px;
}

textarea {
  outline: none;
  display: flex;
  text-align: start;
}

.read-more-btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #f7c08a;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.read-more-btn:hover {
  color: #333;
}

.add-review-btn {
  display: inline-block;
  display: flex;
  text-align: start;
  font-size: 14px;
  color: #fff;
  background: #f7c08a;
  margin: 10px;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-review-btn:hover {
  opacity: 0.8;
}

.delete {
  background: #F38688;
  color: #fff;
  border: none;
  border-radius: 4px;
}

table {
  margin-right: 185px;
}

th,
td {
  padding: 5px;
  text-align: left;
}


footer {
  display: flex;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin: auto;
  padding: 8px 0;
  width: 100%;
  background-color: #fcf8e8
}